<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/">back</a>
      <h3 class="text-center mt-5">
        Add New Car
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 md-offset-3">
      <form name="new-car-form" #newCarForm="ngForm" (ngSubmit)="createNewCar(newCarForm.value)">
        <div class="form-group">
          <label for="car_company">Car Company</label>
          <input type="text" name="car_company" id="car_company" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="car_model">Car Model</label>
          <input type="text" name="car_model" id="car_model" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="year_of_release">Year Of Release</label>
          <input type="text" name="year_of_release" id="year_of_release" class="form-control" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Add New Car</button>
      </form>
    </div>
  </div>
</div>