<div>
  1. using <strong>appHighlighter</strong> directive.
  <h2 appHighliter>This gets Highlighted</h2>
</div>

<hr>

<div>
  2. using a <strong>custom property </strong>along with the directive to set color directly in the view
  <h2 appHighliter2 [colorPassed]="'green'">This gets Highlighted</h2>
</div>

<hr>

<div>
  3. using a <strong>custom property </strong>along with the directive to set color from outside
  <h2 appHighliter2 [colorPassed]="active">This gets Highlighted</h2>
</div>

<hr>

<div>
  4. using same name as<strong>"DIRECTIVE" as well as "CUSTOM PROPERTY" </strong>along with the directive to
  set color from outside
  <h2 [appHighliter3]="active">This gets Highlighted</h2>
</div>

<hr>

<div>
  5. using same name as<strong>"DIRECTIVE" as well as "CUSTOM PROPERTY" </strong>along with the directive to
  set color from outside and apply color when changed
  <h2 [appHighliter4]="active">This gets Highlighted</h2>
</div>

<hr>